@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Department

<div class="card" style="width: 18rem; background-color: #ffe6f7; border: 1px solid #ffaaaaff; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <div class="card-body">
        <h5 class="card-title" style="color: #ff7777;">Department ID: @Model.DNumber</h5>
        <h6 class="card-subtitle mb-2" style="color: #ffaaaaff;">Department Name: @Model.DName</h6>
        <p class="card-text" style="color: #ff77aa;">Manager Date: @Model.MgrDate</p>
        <p class="card-text" style="color: #ff77aa;">Manager Name: @Model.employee.FName</p>
    </div>
</div>
